body {
  background-color: #fff;
  color: #333;
  max-width: 1550px;
  min-width: 350px;
  margin: 0 auto;
}

body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a:hover {
  background-color: rgba(236, 140, 14, 0.233);
  text-decoration: none;
  border-radius: 5%;
}

.dark:hover {
  background-color: rgb(255, 145, 1);
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

#error {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

button {
  color: #f76108;
}

.orange {
  color: #f76108;
}

.navbar-custom {
  background-color: #fff;
  color: #4e443e;
  border: 0;
  border-bottom: thick;
  border-color: #f76108;
  border-style: solid;
  font-size: 1.1em;

  .orange {
    color: #f76108;
  }

  a {
    color: #4e443e;
  }

  .dot {
    font-size: 50px;
    margin-left: -22px;
    margin-top: -18px;
  }
}

.footer-custom {
  background-color: #4e443e;

  .white {
    color: white;
  }

  .icon {
    font-size: 1.1rem;
  }
}

.featured {
  height: 50vh;
  width: 100%;
  max-width: 1590px;

  .featured-image {
    object-fit: cover;
    height: 50vh;
    width: 100%;
    max-width: 1590px;
  }
}

.featured-row {
  width: 100vw;
  max-width: 1590px;
}

.card-cat {
  width: 400px;
}

.card-img-top,
.card-img-bottom {
  height: 50%;
  object-fit: cover;
}

.overflow-custom {
  --lh: 1.4rem;

  line-height: var(--lh);

  --max-lines: 6;

  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
}

.lines-less {
  --max-lines: 2;
  --lh: 2rem;

  color: white;
}

.category {
  height: 25vh;
  max-width: 25vw;
  min-width: 25vw;

  .category-image {
    object-fit: cover;
    height: 25vh;
    max-width: 25vw;
    min-width: 25vw;
  }
}

.category-row {
  width: 100vw;
  max-width: 1590px;
}
